#btnUpdateTicket, #backToWork {
  padding: 4px 17px;
}

#btnUpdateTicket:hover {
  background: inherit;
}

#backToWork {
  float: right;
}

.tdxUxServiceTicket {
  font-size: 2rem;
}

body.tdxux {
  font-size: 16px;
}

h4.media-heading {
  font-size: 2rem;
}

.tdxux-directory h3 {
  font-size: 2rem;
  font-weight: bold;
}

.disp-group {
  margin-bottom: 10px;
}

.gutter-top-xs, .gutter-bottom-xs, .gutter-top-sm, .gutter-bottom-sm, .gutter-top-md, .gutter-bottom-md, .gutter-top-lg, .gutter-bottom-lg  {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

body .sortable-item .nav.nav-pills a {
  padding-top: 0;
  padding-bottom: 0;
}
